@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    /* color: #FAF0E6; */
}
h1{
  /* top: 100px; */
  margin: auto;
  /* position: absolute; */
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
}
hrml,body{
 background-color: rgb(253, 202, 202);
 overflow-y: hidden;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.big{
  display: flex;
  background-color: rgb(253, 202, 202);
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  height: 84vh;
  /* width: 100vw; */
}
.nav_container{
  height: 4vh;
  /* align-items: center; */
  /* justify-content: center; */
}
.navbar{
  display: flex;
  width: 98vw;
  justify-content: space-evenly;
  list-style-type: none;
  
}
.container{

  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  align-items: center;
  height: 50vh;
  width: 30vw;
  box-sizing: border-box;
  border-radius: 15px;
  background-image: url('./aa.jpg');
}
.input{
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}
.content{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
